.consultation{
    min-height: 400px;
    padding: 56px 0 58px 0;
    &__round{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        width: 102px;
        height: 102px;
        border: 1px solid #e93b3b;
        border-radius: 100%;
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translateX(-50%) translateY(25%);  
        @include break-border;
        &:before{
            right: 101%;
        }
        &:after{
            left: 101%;
        }
    }
}