.menu{
    list-style: none;
    margin: 0;
    width: 600px;
    display: flex;
    justify-content: space-between;
    &__item{
        padding-right: 14px;
        border-right: 2px dotted rgba($color: #ffffff, $alpha: .4);
        &:last-child{
            border: none;
            padding-right: 0;
        }
    }
    &__link{
        font-size: 15px;
        font-weight: 400;
        color: #ffffff;
        &:hover{
            text-decoration: none;
            color: $main-color;
        }
    }
}